# iHomeCRM Network Center - stage 2 (apply only after WG + pinned SSH verification)
/ip/service set [find where name="ssh"] disabled=no port=22 address=@@VPS_PEER_ADDRESS@@
/ip/service set [find where name="winbox"] disabled=no address=@@MANAGEMENT_CIDR@@
/ip/service set [find where name="telnet"] disabled=yes
/ip/service set [find where name="ftp"] disabled=yes
/ip/service set [find where name="www"] disabled=yes
/ip/service set [find where name="www-ssl"] disabled=yes
/ip/service set [find where name="api"] disabled=yes
/ip/service set [find where name="api-ssl"] disabled=yes
:put "NETWORK_CENTER_LOCKDOWN_APPLIED"
